* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
    font-family: 'Roboto';
}

.container {
    margin: 0 auto;
    max-width: 1130px;
}

.mt-140 {
    margin-top: 140px;
}

button {
    cursor: pointer;
}

body {
    background-color: black;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 600;
}

/* header */

.dropbtn {
    background-color: rgba(51, 68, 153, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #717171;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bbb;
}

.show {
    display: block;
}

/* 2 */
.dropbtn2 {
    background-color: rgba(51, 68, 153, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #717171;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: #bbb;
}

.show2 {
    display: block;
}

.menu {
    display: flex;
    gap: 30px;
    margin-left: 54px;
    align-items: center;

}

header .container {
    display: flex;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 20px;
}

.menu a {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 16px;
}

.btn-header a {
    color: white;
    font-size: 12px;
}

.btn-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.btn-header-2 {
    width: 128px;

    text-align: center;
    padding: 10px 5px;
    background-color: #24B47E;
    color: white;
    border-radius: 5px;
    margin-left: 410px;
}

/* banner */

.banner .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-left h3 {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.banner-left h1 {
    font-size: 48px;
    color: white;
}

.banner-left p {
    font-size: 14px;
    color: white;
    width: 400px;
}

.banner-btn {
    width: 133px;
    text-align: center;
    height: 33px;
    background-color: #24B47E;
    color: white;
    border-radius: 5px;
    border: #24B47E;
}

.slider{
    position: relative;
    overflow: hidden;
}

.slide{
    display: none;
    width: 100%;
    height: 100%;
   
}

.slide.active{
    display: block;
}

/* plus */

.plus .blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus .block {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.plus h3 {
    color: white;
    font-size: 18xp;
}

.plus p {
    color: white;
    font-size: 18xp;
}

/* sleek */

.sleek .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sleek h2 {
    color: white;
    font-size: 48xp;
}

.sleek p {
    color: white;
    font-size: 48xp;
}

.file-preview {
    margin-bottom: 40px;
}

.file-preview h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.file-preview p {
    font-size: 16px;
    color: #a1a1aa;
    margin-bottom: 0;
}

.example-app {
    background-color: #252529;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.example-app h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.example-app p {
    font-size: 14px;
    color: #a1a1aa;
    margin-bottom: 15px;
}

.created-by {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
}

.created-by img {
    width: 20px;
    margin-right: 5px;
}

.deploy-button {
    background-color: #2563eb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.block {
    display: flex;
    gap: 140px;
}

a {
    color: #2563eb;
    text-decoration: none;
    font-size: 14px;
}

.text {
    display: inline-block;
}

.icon {
    display: inline-block;
    margin-left: 5px;
}

.icon img {
    height: 14px;
    width: 14px;
}

/* integrates */
.accordion {
    background-color: #eeeeee00;
    color: #ffffff;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 18px;

    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #000000;
}

.panel {
    background-color: rgba(0, 0, 0, 0);
    display: none;
    overflow: hidden;
}

.panel p {
    font-size: 14px;
    color: white;
}

.integrates {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.integrates h2 {
    color: white;
    font-size: 36px;
}

span {
    padding-left: 600px;
}

/* footer */

.footer {
    color: #666666;
    padding: 20px;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-section {
    display: flex;
    gap: 80px;
}

.supabase-logo {
    width: 160px;
    height: 31px;
}

.links-container {
    display: flex;
}

.links-column {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.links-column h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.links-column a {
    color: #a1a1aa;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #444444;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 12px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle button {
    background-color: transparent;
    border: none;
    color: #a1a1aa;
    font-size: 20px;
}

/* js */

.btns{
    display: flex;
    gap: 10px;
}

.btn{
    padding: 10px;
    border: 1px solid #2A2A2A;
    color: #fff;
    border-radius: 0px;
    font-size: 10x;
}

.btn.active{
    background-color: #2A2A2A;
    color: white;
    font-size: 10x;
}

.info{
    display: none;
    }

.info.active{
    display: block;
}


.text{
    display: none;
    }

.text.active{
    display: block;
}
